<p id="notice"><%= notice %></p>
  <p>
    <p>
    <strong>ID:</strong>
    <%= @game.id %>
    </p>
    <strong>Rolls:</strong>
    <% frames = @game.frames %>
    <table id="frames">
        <% frames.each do |frame| %>
            <td>
                <label><%= "Frame #{frames.index(frame) + 1}"  %></label>
                <div id="first_roll"><%= frame.first_roll %></div>
                <div id="second_roll"><%= frame.second_roll %></div>
            </td>
        <% end %>
    </table>
    <p>
    <strong>Score:</strong>
    <%= @game.score %>
    </p>
  </p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
